/* Graphik LCG Typefaces ------------------ */
@font-face {
    font-family: 'GraphikLCG-Regular';
    src: url('../fonts/graphik/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),  
         url('../fonts/graphik/GraphikLCG-Regular.otf')  format('opentype'),
         url('../fonts/graphik/GraphikLCG-Regular.woff') format('woff'), 
         url('../fonts/graphik/GraphikLCG-Regular.ttf')  format('truetype'), 
         url('../fonts/graphik/GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'GraphikLCG-Semibold';
    src: url('../fonts/graphik/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/graphik/GraphikLCG-Semibold.otf')  format('opentype'),
        url('../fonts/graphik/GraphikLCG-Semibold.woff') format('woff'), 
        url('../fonts/graphik/GraphikLCG-Semibold.ttf')  format('truetype'), 
        url('../fonts/graphik/GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ------------------ Graphik LCG Typefaces */

html {
    font: 16px/1.5 'GraphikLCG-Regular' ;
    min-width: 320px;
}

/* Font classes ---------------------------- */

.graphik-r {
    font-family: 'GraphikLCG-Regular';
}

.graphik-s {
    font-family: 'GraphikLCG-Semibold';
}

.f8px {
    font-size: 8px;
}

/* ---------------------------- Font classes */

/* Colors ---------------------------------- */

.dark-gray {
    color: #9b9b9b;
}

.greyish-blue {
    color: #37474f;
}

.sky-blue {
    color: #2c99ed;
}

.hover-pure-blue:hover {
    color: #0088ee;
}

/* ---------------------------------- Colors */

/* Heights ---------------------------------- */

.h40 {
    height: 40px;
}

.h24 {
    height: 24px;
}

@media screen and (min-width: 60em) {
    .h60 {
        height: 60px;
    }

    .mh60 {
        max-height: 60px;
    }
}


/* ---------------------------------- Heights */

/* Widths ---------------------------------- */

.w40 {
    width: 40px;
}

.w24 {
    width: 24px;
}

.w269 {
    width: 269px;
}

@media screen and (min-width: 60em) {
    .w380 {
        width: 380px;
    }

    .w60 {
        width: 60px;
    }
}

/* ---------------------------------- Widths */

/* Backgrounds ----------------------------- */

.bg-ios_android {
    background-image: url(../images/bg-ios_android.png);
}

.bg-right_bottom {
    background-position: right bottom;
}

@media screen and (min-width: 60em) {
    .bg-ios_android-l {
        background-image: url(../images/bg-ios_android-full.png);
    }

    .bg-right_bottom-l {
        background-position: right 200px;
    }
}

.b-sea-green {
    background-color: #40be65;
}

.b-pure-blue {
    background-color: #0088ee;
}

.b-orange-red {
    background-color: #ff382c;
}

/* ----------------------------- Backgrounds */

/* Position -------------------------------- */

.bottom--10 {
    bottom: -10rem;
}

.right--10 {
    right: -10rem;
}

/* -------------------------------- Position */

/* Spacing -------------------------------- */

.pb14rem {
    padding-bottom: 14rem;
}

.mb6rem {
    margin-bottom: 6rem;
}

@media screen and (min-width: 60em) {
    .pl5rem {
        padding-left: 5rem;
    }

    .mb6rem {
        margin-bottom: 0;
    }
}

/* -------------------------------- Spacing */

/* Opacity -------------------------------- */

@media screen and (min-width: 60em) {
    .o-60-l {
        opacity: 0.6;
    }
}

/* -------------------------------- Opacity */

/* Swiper Styles -------------------------- */
.swiper-container-vertical>.swiper-pagination-bullets {
    left: 5rem;
}
.swiper-pagination-bullet {
    width: 1rem;
    background: none;
    height: 20px;
    border-radius: 0;
    border-bottom: 1px solid #000000;
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0 15px;
}

.swiper-pagination-bullet-active {
    width: 2rem;
}

/* -------------------------- Swiper Styles */

.nav {

}

.night {
    background: #1b1b1b;
    color: #fff;
}

.slider {
    border-radius: 18px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:url(../images/moon.png)  rgba(55, 71, 79, 0.1) no-repeat;
    background-size: 12px 12px;
    background-position: 6px;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked + .slider {
    background:url(../images/sun-white.png)  #5d5f61 no-repeat;
    background-size: 12px 12px;
    background-position: 28px 6px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    right: 1px;
    bottom: 1px;
    background: url(../images/sun.png) white no-repeat;
    background-size: 12px 12px;
    background-position: 6px;
    border-radius: 50%;
    -webkit-transition: .5s;
    transition: .5s;
}

input:checked + .slider:before {
    background: url(../images/moon-white.png) #343739 no-repeat;
    background-size: 12px 12px;
    background-position: 5px;
    -webkit-transform: translateX(-22px);
    -ms-transform: translateX(-22px);
    transform: translateX(-22px);
}

.nav {
    display: none;
}

.nav--openned {
    display: flex;
}

.main--hidden {
    display: none;
}

.cross {
    display: none;
}

.cross--displayed {
    display: block;
}

.hamburger--hidden {
    display: none;
}