/* Graphik LCG Typefaces ------------------ */
@font-face {
    font-family: 'GraphikLCG-Regular';
    src: url('../fonts/graphik/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),  
         url('../fonts/graphik/GraphikLCG-Regular.otf')  format('opentype'),
         url('../fonts/graphik/GraphikLCG-Regular.woff') format('woff'), 
         url('../fonts/graphik/GraphikLCG-Regular.ttf')  format('truetype'), 
         url('../fonts/graphik/GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'GraphikLCG-Semibold';
    src: url('../fonts/graphik/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/graphik/GraphikLCG-Semibold.otf')  format('opentype'),
        url('../fonts/graphik/GraphikLCG-Semibold.woff') format('woff'), 
        url('../fonts/graphik/GraphikLCG-Semibold.ttf')  format('truetype'), 
        url('../fonts/graphik/GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ------------------ Graphik LCG Typefaces */

html {
    font: 16px/1.5 'GraphikLCG-Regular', sans-serif;
    min-width: 320px;
}

/* Font classes ---------------------------- */

.graphik-r {
    font-family: 'GraphikLCG-Regular';
}

.graphik-s {
    font-family: 'GraphikLCG-Semibold';
}

.f8px {
    font-size: 8px;
}

/* ---------------------------- Font classes */

/* Colors ---------------------------------- */

.dark-gray {
    color: #9b9b9b;
}

.greyish-blue {
    color: #37474f;
}

.sky-blue {
    color: #2c99ed;
}

.hover-pure-blue:hover {
    color: #0088ee;
}

/* ---------------------------------- Colors */

/* Heights ---------------------------------- */

.h24 {
    height: 24px;
}

.h40 {
    height: 40px;
}

.h387 {
    height: 387px;
}

/* ---------------------------------- Heights */

/* Widths ---------------------------------- */

.w24 {
    width: 24px;
}

.w40 {
    width: 40px;
}

.w269 {
    width: 269px;
}

.w387 {
    width: 387px;
}

/* ---------------------------------- Widths */

/* Backgrounds ----------------------------- */

.bg-right_bottom {
    background-position: right bottom;
}

.b-sea-green {
    background-color: #40be65;
}

.b-pure-blue {
    background-color: #0088ee;
}

.b-orange-red {
    background-color: #ff382c;
}

.b-pure-yellow {
    background-color: #ffe200;
}

/* ----------------------------- Backgrounds */

/* Position -------------------------------- */


.top-120 {
    top: -120px;
}

.left-200 {
    left: -200px;
}

.left-8 {
    left: -8px;
}

.bottom-4 {
    bottom: 4rem;
}

.bottom--10 {
    bottom: -10rem;
}

.right--10 {
    right: -10rem;
}

/* -------------------------------- Position */

/* Spacing -------------------------------- */

.mb6rem {
    margin-bottom: 6rem;
}

/* -------------------------------- Spacing */

/* Day/Night Mode Slider ------------------ */
.slider {
    border-radius: 18px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:url(../images/moon.png)  rgba(55, 71, 79, 0.1) no-repeat;
    background-size: 12px 12px;
    background-position: 6px;
    -webkit-transition: .3s;
    transition: .3s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        right: 1px;
        bottom: 1px;
        background: url(../images/sun.png) white no-repeat;
        background-size: 12px 12px;
        background-position: 6px;
        border-radius: 50%;
        -webkit-transition: .5s;
        transition: .5s;
    }

    input:checked + .slider {
        background:url(../images/sun-white.png)  #5d5f61 no-repeat;
        background-size: 12px 12px;
        background-position: 28px 6px;
    }

        input:checked + .slider:before {
            background: url(../images/moon-white.png) #343739 no-repeat;
            background-size: 12px 12px;
            background-position: 5px;
            -webkit-transform: translateX(-22px);
            -ms-transform: translateX(-22px);
            transform: translateX(-22px);
        }

/* ------------------ Day/Night Mode Slider */

/* Dark Mode Styles ----------------------- */
.dark {
    background: #343739;
    color: #ffffff;
}

.dark * {
    color: #ffffff;
}

.dark .sky-blue > span {
    color: #ffe200 !important;
}


/* ----------------------- Dark Mode Styles */

/* Navigation Styles ---------------------- */
.nav {
    display: none;
	height: 0;
  	opacity: 0;
	overflow: hidden;
	transition: height 0.3s ease-in-out, opacity 0.7s ease-in-out;
}

    .nav--openned {
        display: block;
        height: auto;
        opacity: 1;
    }

.main--hidden {
    display: none;
}

.cross {
    display: none;
}

    .cross--displayed {
        display: block;
    }

.hamburger--hidden {
    display: none;
}

/* ---------------------- Navigation Styles */

/* Sections Style ------------------------- */

.section {
    display: none;
}

    .section--active {
        display: block;
    }

/* ------------------------- Sections Style */

/* Page About Styles ---------------------- */
.circle-about {
    z-index: -1;
    width: 662px;
    height: 662px;
    top: -300px;
    left: -145px;
}

.circle-about-2 {
    z-index: -1;
    width: 406px;
    height: 406px;
    bottom: -190px;
    right: -20px;
}

/* ---------------------- Page About Styles  */

.swiper-wrapper {
    display: block;
}
